{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<section class="hero">
    <h1>Welcome to My Django App</h1>
    <p>Explore posts, view the gallery, or create your own content!</p>
</section>

<hr>

<h2>Features</h2>
<ul>
    {% for f in features %}
    <li>{{ f }}</li>
    {% endfor %}
</ul>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos nemo obcaecati iusto molestiae accusamus repellat sit dolores ducimus inventore itaque quas excepturi sequi, dolorum aperiam qui soluta incidunt facilis repellendus.</p>
{% endblock %}
